<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
        <link href="/css/main.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://use.typekit.net/vdo2csi.css">
        <link href="/assets/logo.svg" rel="icon" />
        <meta name="viewport" content="width=device-width">

        <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
        <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
        <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt.strip_html }}{% else %}{{ site.description }}{% endif %}">
        <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt.strip_html }}{% else %}{{ site.description }}{% endif %}">

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            
            ga('create', 'UA-7956558-9', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <header class="site-header">
            <div class="container site-header__inner">
                <a class="site-header__masthead" href="/">
                    <img src="/assets/logo.svg" alt="London coronavirus response">
                </a>
                <nav class="site-header__menu">
                    <a href="/#products" class="site-header__menu-link">Products</a>
                    <a href="/#slides" class="site-header__menu-link">Slides</a>
                    <a href="/#blog" class="site-header__menu-link">Blog</a>
                    <a href="#" class="site-header__menu-link">About</a>
                </nav>
            </div>
        </header>