<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
        <link href="/css/main.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://use.typekit.net/vdo2csi.css">
        <link href="/assets/logo.svg" rel="icon" />
        <meta name="viewport" content="width=device-width">

        <meta property="og:type" content="website">
        <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
        <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
        <meta property="og:url" content="https://coronaviruslocalresponse.co.uk/">
        <meta property="og:image" content="https://coronaviruslocalresponse.co.uk/assets/share-image.png">

        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://coronaviruslocalresponse.co.uk/">
        <meta property="twitter:image" content="https://coronaviruslocalresponse.co.uk/assets/share-image.png">
        <meta property="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
        <meta property="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicon/site.webmanifest">
        <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#87DAC9">
        <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
        <meta name="theme-color" content="#87DAC9">
        
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            
            ga('create', 'UA-7956558-9', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <header class="site-header">
            <div class="container site-header__inner">
                <a class="site-header__masthead" href="/">
                    <img src="/assets/logo.svg" alt="London coronavirus response">
                </a>
                <nav class="site-header__menu">
                    <!-- <a href="/#products" class="site-header__menu-link">Products</a>
                    <a href="/#slides" class="site-header__menu-link">Slides</a> -->
                    <a href="/#blog" class="site-header__menu-link">Blog</a>
                    <!-- <a href="/blog/localgov-directory-for-coronavirus-support" class="site-header__menu-link">About</a> -->
                    <a href="mailto:hello@wearefuturegov.com" class="site-header__menu-link" onclick="gtag('event', 'HomeTLN', { 'event_category': 'Email' });">Work with us</a>
                    <a href="https://join.slack.com/t/uklocalservices/signup" class="site-header__menu-link">Join</a>
            </a>
                    
                </nav>
            </div>
        </header>
