<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Title</title>
        <link href="/css/main.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://use.typekit.net/vdo2csi.css">
    </head>
    <body>
        <header class="site-header">
            <div class="container site-header__inner">
                <a class="site-header__masthead" href="/">
                    <img src="/assets/logo.svg" alt="London coronavirus response">
                </a>
                <nav class="site-header__menu">
                    <a href="#products" class="site-header__menu-link">Products</a>
                    <a href="#slides" class="site-header__menu-link">Slides</a>
                    <a href="#blog" class="site-header__menu-link">Blog</a>
                    <a href="#" class="site-header__menu-link">About</a>
                </nav>
            </div>
        </header>