{% include header.html %}

<section class="main-content">
    <div class="container">

        <div class="page-header">
            <p class="page-header__caption">{% if page.categories == "product" %}Product{% else %}{{ page.date | date_to_string }}{% endif %}</p>
            <h1 class="page-header__headline">{{ page.title }}</h1>
        </div>
        
        <div class="page-content">
            {{ content }}
        </div>

        <section class="call-to-action">
            <div class="container">
                <h2>Call to action</h2>
                <p>Call to action explanation goes here</p>
                <a class="button button--primary" href="#">Button text</a>
            </div>
        </section>
    
    </div>
</section>

{% include footer.html %}