{% include header.html %}

<section class="hero">
    <div class="container">
        <h1 class="hero__headline">Local response to coronavirus</h1>
        <hr class="hero__divider"/>
        <p>Coronavirus has taken hold at a societal level across the UK. More than ever, we need a new approach to addressing these challenges in a way that is truly built to scale, to make change happen at the speed we need it to.</p>
        <p>Working collaboratively with partners at a local and national level, we're investing in a new approach. 
            Bringing together a catalyst response team from local public services, community groups and voluntary services for collective action, 
            we're looking at the most urgent challenges, building on previous work and coordinating an agile response to address shared problems during an emergency unlike any other.</p>
        <div class="actions">
            <a class="actions__button" href="/blog/local-public-services-directory-coronavirus" onclick="gtag('event', 'Home', { 'event_category': 'Blog' });">
                Read the blog
            </a>
            <a class="actions__button actions__button--primary" href="mailto:hello@wearefuturegov.com" onclick="gtag('event', 'Home', { 'event_category': 'Email' });">
                Join the coalition
            </a>
        </div>
    </div>    
</section>

<!-- <section class="partnerships">
    <div class="container">
        <p>In partnership with</p>
        <div class="partnerships__logos">
            <img src="/assets/1.svg" class="partnerships__logo" alt="Buckinghamshire County Council"/>
            <img src="/assets/3.svg" class="partnerships__logo" alt="Camden Council"/>
            <img src="/assets/5.svg" class="partnerships__logo" alt="Ministry of Housing, Communities & Local Government"/>  
            <img src="/assets/6.svg" class="partnerships__logo" alt="Greater London Authority"/> 
            <img src="/assets/7.svg" class="partnerships__logo" alt="London Office of Technology and Innovation"/> 
            <img src="/assets/8.svg" class="partnerships__logo" alt="Hammersmith & Fulham"/> 
            <img src="/assets/9.svg" class="partnerships__logo" alt="Tech Force 19"/> 
            <img src="/assets/10.svg" class="partnerships__logo" alt="Public"/> 
        </ul>
    </div>
</section> -->

<div class="main-content">
<!-- 
    <section class="promos" id="products">
        <div class="container">
            <h2 class="promos__title">Products</h2>
            <p>All these are open source and open to re-use</p>
            <ul class="promo-list">
                {% for product in site.data.products %}
                    <li class="promo">
                        <a class="promo__link" href="{{ product.url }}">
                            <h3 class="promo__title">{{ product.title }}</h3>
                            <p class="promo__caption">{{ product.caption }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="promos" id="slides">
        <div class="container">
            <h2 class="promos__title">Slides</h2>
            <ul class="promo-list">
                {% for slides in site.data.slides %}
                    <li class="promo">
                        <a class="promo__link" href="{{ slides.url }}">
                            <h3 class="promo__title">{{ slides.title }}</h3>
                            <p class="promo__caption">{{ slides.caption }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section> -->

    <section class="promos" id="blog">
        <div class="container">
            <h2 class="promos__title">Blog</h2>
            <ul class="promo-list">
                {% for post in site.posts %}
                    <li class="promo">
                        <a class="promo__link" href="{{ post.url }}">
                            <h3 class="promo__title">{{ post.title }}</h3>
                            <p class="promo__caption">{{ post.date | date_to_string }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

</div>

{% include footer.html %}
